<h1 class="mb-2 d-flex justify-content-center align-items-center">Start Your Personality Test</h1>

<div class="d-flex justify-content-center align-items-center">
  <div>
    <% @questions.each do |question| %>
      <b><%= question.content %></b><br /><br />
      <div class="btn-group-toggle w-100" data-toggle="buttons">
        <% question.options.each do |option| %>
          <label class="btn btn-outline-primary w-100 mb-2">
            <input type="radio" name="options" id="option1" autocomplete="off" id="option-<%= option.id %>" onClick="setCookies(<%= question.id %>,<%= option.id %>, <%= session[:max_questions] %>,<%= params[:page] %>)">
            <%= option.content %>
          </label><br/>
        <% end %>
      </div><br />
    <% end %>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @questions %>
    </div>
    <%= will_paginate @questions, :container => false %>
  </div>
  <button class="d-none btn btn-lg btn-outline-primary mt-5" id="submitButton"><%= link_to 'Submit Answers', score_path(page: params[:page]), method: :post %></button>
</div>