<h1>Start Your Personality Test</h1>

<div>
  <% @questions.each do |question| %>
    <b><%= question.content %></b><br />
    <% question.options.each do |option| %>
      <button class="mb-2 btn btn-outline-primary"  data-toggle="button" id="option-<%= option.id %>" onClick="addAnswer(<%= question.id %>,<%= option.id %>, <%= attempted_count %>,<%= params[:page] %>)"><%= option.content %> </button><br/>
    <% end %><br />
  <% end %>
</div>

<%= will_paginate @questions %>
<button class="d-none" id="submitButton"><%= link_to 'Submit Answers', score_path(page: params[:page]), method: :post %></button>