<!DOCTYPE html>
<html>
  <head>
    <title>PersonalityTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <% if admin_signed_in? %>
      <div class="mt-2 mx-2">
        <button class="btn-success"><%= link_to "Logout" , destroy_admin_session_path, method: :delete, class: "btn btn-success" %></button>
      </div>
    <% end %>

    <div class="mt-5 mx-3">
      <%= yield %>
    </div>
  </body>
</html>
